.blog{
    .section{
        display: flex;
        margin-top: 60px;
        width: 100%;
        color: black;
        position: relative;
        scroll-behavior: smooth;
        //scroll-snap-type: y mandatory;
        scrollbar-width: none; //Firefox
        &::-webkit-scrollbar{
            display: none;
        }
    }
}